.form_group {
    width: 48%;
}

.form_lable {
    border-color: white;
}

.top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.editModalIcons svg {
    cursor: pointer;
}
.editModalIcons  {
    width: 62px;
    display: flex;
    justify-content: space-around;
}

.parent {
    margin: initial;
    border-radius: 9px;
}

.contnt {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}

.contnt h5 {
    width: 40%;
    display: flex;
    align-items: flex-start;
    margin: 0;
}

.contnt p {
    display: flex;
    width: 40%;
    align-items: flex-start;
    margin: 0;
}