.sendMail_card {
    margin-top: 120px;
    margin-left: 33%;
    /* margin-right: 30%; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 70vh;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 10px;
}

.email_card{
    border: 1px #B2B2B2 solid;
    padding: 20px;
    border-top: 6px #3781B8 solid;
    border-radius: 7px;
}

.heading{
    margin-bottom: -2.5rem;
    margin-left: 55px;
    margin-top: 5px;
}

.sendMail_logo{
    height: 100px;
    width: 140px;
    margin-left: 110px;
}

.text{
    padding-top:10px ;
    /* padding-bottom: 0px; */
    border: none;
    border-bottom: 1px #F0F0F0 solid;
}

.sendmail_email_div{
    padding-top: 12px;
}

.form_label{
    font-weight: bold;
}

.request_otp_button{
    background-color: #47BB7F;
    color: white;
    border: none;
    width: 100%;
    border-radius: 4px;
}

.request_otp_button:hover{
    background-color: #33c278;
    color: white;

}

.back_to_login_button{
    border: none;
    background-color: white;
    color: blue;
    margin-left: 220px;
}

.back_to_login_button:hover{
    border: none;
    background-color: white;
    color: darkblue;
}