.main {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.chart {
    height: 100%;
    width: 66.2%;
    padding: 33px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    border-radius: 11px;
    background-color: white;
}
.chart2 {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    padding: 126px !important;
    width: max-content;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background-color: white;
    border-radius: 11px;
    justify-content: center;
}
.chart1 {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 14px;
    width: 100%;
}

.kVrXuC {
    width: 40% !important;
}

.kVrXuC {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100% !important;
    height: 100%;
}

.mentor_cards {
    margin-bottom: 1.5rem;

}


.h5 {
    font-size: 23px;
    color: black;
    font-weight: 550;
}

.mentor_card_1 {
    background-image: linear-gradient(rgb(201, 214, 255), rgb(226, 226, 226));
    height: 10.5rem;
    border: none;
    border-radius: 11px;
}
.mentor_card_2{
    border-radius: 11px;
    background-image: linear-gradient(#C9D6FF, #A4C9FE);
    border: none;
    height: 10.5rem;
}
.mentor_card_3{
    background-image: linear-gradient(#E7F3F1, #3DD2BD);
    border-radius: 11px;
    border: none;
    height: 10.5rem;
}

.card_body {
    justify-content: space-between;
    border-radius: 11px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    display: flex;
    flex-direction: row;
    padding: 0% !important;
}

.card-text p {
    margin: 0;
}

.mentor_table_card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-top: 1.5rem;
    /* background-color: #e9e9e947; */
    border-radius: 11px;
}

.kNUuTe {
    border-radius: 10px;
}

.gKbhqU {
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card_detils {
    padding: 25px 25px 0px 25px;
}

.bg_img {
    width: 137px;
}

.bg_img img {
    border-radius: 11px;
    height: 100%;
}
.mentors img{
    width: 35px;
}
.mentors p{
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mentors {
    width: 100%;
    display: flex;
}
