.payment_card_1 {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
    border: none;
    border-radius: 7px;
    height: 180px;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;

}

.payment_card_1:hover {
    background: linear-gradient(to right, #493240, #f09) !important;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.payment_card_title_1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.payment_card_title_1:hover {
    color: #DF0989;
}

.payment_card_title_2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.payment_card_title_2:hover {
    color: #3F72C6;
}


.payment_card_2 {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
    border: none;
    border-radius: 7px;
    height: 180px;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.payment_card_2:hover {
    background: linear-gradient(to right, #373b44, #4286f4) !important;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.payment_card_3 {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
    border: none;
    border-radius: 7px;
    height: 180px;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.payment_card_3:hover {
    background: linear-gradient(to right, #0a504a, #38ef7d) !important;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}
.payment_card_title_3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.payment_card_title_3:hover {
    color: #26B169;
}

.payment_card_4 {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
    border: none;
    border-radius: 7px;
    height: 180px;
    padding-top: 1.25rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.payment_card_4:hover {
    background: linear-gradient(to right, #a86008, #ffba56) !important;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
}

.payment_card_title_4 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
}

.payment_card_title_4:hover {
    color: #E39D3D;
}

.progress-bar-1 {
    width: 100%;
    height: 20px;
    background-color: #44A7F2;
    position: relative;
    height: 15px;
    border-radius: 10px;
}


.count {
    margin-bottom: 15px;
}

.counter_subscript {
    font-size: medium;
}
.charts{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.buuble_chart{
    height: 70%;
    width: 70%;
    padding-top: 31px;
    margin-left: 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background-color: white;
    border-radius: 11px;
}

.doughnut_chart{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-left: 1.5rem;
    padding: 126px !important;
    width: max-content;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background-color: white;
    border-radius: 11px;
    justify-content: center;
}

.payment_table_card{
    margin-top: 1.5rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}





